<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Signin Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <script src="../scripts/angular.js" type="text/javascript"></script>
    <script type="text/javascript">
        angular.module("myApp", []).controller("mainctrl", ["$scope", "$http", "$interval", function ($scope, $http, $interval) {
            var msgAry;
            $http.post("/msg/").success(function (data) {
                msgAry = data;
                $scope.msgs = msgAry;
            });
            var setMsg;
            if (angular.isDefined(setMsg)) return;
            setMsg = $interval(function () {
                $http.post("/msg/").success(function (data) {
                    for (var i = 0; i < data.length; i++) {
                        msgAry.push(data[i]);
                    }

                    $scope.msgs = msgAry;
                });
            }, 5000);
            $scope.send = function () {
                $http.post("/msg/send/", { msgDetail: $scope.msgtext, msgWriter:'admin',msgReceiver:'client'}).success(function (data) {
                    msgAry.push(data);
                    $scope.msgs = msgAry;
                });
            }
        } ]);
    </script>
</head>
<body>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <legend>
                聊天窗口
            </legend>
        </div>
    </div>
    <div class="row-fluid" ng-app="myApp" ng-controller="mainctrl">
        <div class="span12" style="width: 100%;padding-left: 20px;overflow-y:scroll; width: 80%;min-height: 400px;border:1px groove black;">
        <dl ng-repeat="msg in msgs track by $index" >
        <dt>
            {{msg.msgWriter}} {{msg.msgTime}}
        </dt>
        <dd>{{msg.msgDetail}}
        </dd>
        </dl>

        </div>
        <fieldset>
            <textarea ng-model="msgtext" style="width: 80%; min-height: 300px;overflow-y:scroll;" ></textarea>
        </fieldset>
        <button type="submit" ng-click="send()" class="btn">提交</button>
    </div>
    <div class="row-fluid">
        <div class="span12">
        </div>
    </div>
</div>
</body>
</html>