<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>一键签到签退</title>

    <!-- Bootstrap core CSS -->

    <script src="../scripts/angular.js" type="text/javascript"></script>
    </head>
<script>
    var msgAry = new Array();
    angular.module("myApp", []).controller("mainctrl", ["$scope", "$http", function ($scope, $http) {
        var getMsg =function () {
            $http.get("/check/msg/").success(function (data) {
                if (data.length > 0) {
                        for (var i = 0; i < data[0].length; i++) {
                            msgAry.push(data[0][i]);

                        }
                    $scope.msgs = msgAry;
                }
                else {
                    getMsg();
                }
            });
        };
        $scope.checkin = function () {
            $http.post("/check/in/",{}).success(function (data) {
                msgAry.push(data);
                $scope.msgs = msgAry;
                getMsg();
            });
        };
        $scope.checkout = function () {
            $http.post("/check/out/",{}).success(function (data) {
                msgAry.push(data);
                $scope.msgs = msgAry;
                getMsg();
            });
        };
    } ]);


</script>
<body ng-app="myApp" ng-controller="mainctrl">
    <button  ng-click="checkin()" type="submit"  >签到，查询状态（8点-下班）！</button>
    <button  ng-click="checkout()" type="submit"  >签退，查询状态（下班-隔天8点）！</button>

    <dl ng-repeat="msg in msgs track by $index" >
        <dt>
            {{msg.StatusCode}}
        </dt>
        <dd>{{msg.ResultMessage}}
        </dd>
    </dl>
</body>
</html>
